/* changes margin and padding for the entire document */
* {
    user-select: none;
    font-family: 'Space Mono', monospace, Arial;
    font-weight: 700;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 180%;
}

body {
    background-color: hsla(185, 41%, 84%, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* adjusts positioning of 'splitter' img/svg */
.logo-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    
}

/* Creates the outer-most container for the inner content */
.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* creates a shadow, adjusts edges of the outer-most container,
 and creates/centers the inner-containers */
.container {
    display: flex;
    align-items: center;
    background: white;
    height: 470px;
    width: 900px;
    border-radius: 25px;
    box-shadow: 0px 8px 15px 0px rgb(196 206 221);
    
}

/* adjusts two inner containers and aligns content inside using flexbox */
.inner-container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    width: 100%;
}

.inner-container2 {
    background: hsla(183, 100%, 15%, 1);
    height: 415px;
    width: 400px;
    border-radius: 20px;
    overflow: hidden;

}

/* creates the containers for the forms/content to fit in*/
.inMost {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 350px;

}

/* this removes the arrows from type 'number' inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  
}

/* this section formats the forms/list-content (using flex box) to 
the correct attributes, and also adjusts additional content/details */

ul {
    list-style: none;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}

/* removes all borders/outlines from input field,
also changes color and font size of input field text */
.customPerc {
    color: hsla(183, 100%, 15%, 1);
    text-align: right;
    font-size: 20px;
    height: 45px;
    width: 110px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: hsla(203, 50%, 97%, 1);
    padding-right: 18px;
}

.num {
    text-align: right;
    font-size: 20px;
    color: hsla(183, 100%, 15%, 1);
    height: 45px;
    width: 350px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: hsla(203, 50%, 97%, 1);
    padding-right: 13px;
    
}

/* Adjusts positioning of logo manually (also adjusts the custom-tip box) */
.logo {
    position: relative;

}

.logo img{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 13px;
    padding-top: 3px;
}

/* Adjusts size and color of the 3 left labels (bill, tip%, and num-of-ppl) */
label {
    color: hsla(18, 6%, 43%, 1);
    font-size: 16px;
}

.zero-label {
    color: transparent;
}

.percent {
    background: hsla(183, 100%, 15%, 1);
    height: 45px;
    width: 110px;
    border-radius: 4px;
    color: white;
    font-size: 22px;
    text-align: center;
    padding-top: 4px;
    transition: 0.2s;

}

/* Adjust active/focus states of the input fields */
#bill {
    outline: transparent solid 3px;
    transition: all 0.4s linear;

}

#bill:hover, #bill:focus {
    outline-color:hsla(171, 71%, 77%, 1);
    cursor: pointer;
}

#custom {
    outline: transparent solid 3px;
    transition: all 0.4s linear;

}

#custom:hover, #custom:focus {
    outline-color:hsla(171, 71%, 77%, 1);
    cursor: pointer;
}

#people {
    outline: transparent solid 3px;
    transition: all 0.4s linear;

}

#people:hover, #people:focus {
    outline-color:hsla(171, 71%, 77%, 1);
}

/* Adjust active and focus states for radio inputs */

.percent:hover {
    background-color: hsla(173, 60%, 77%, 1);
    color: hsla(183, 100%, 15%, 1);
    cursor: pointer;
}

input:checked + label {
    background-color: hsla(172, 67%, 45%, 1);
    color: hsla(183, 100%, 15%, 1);
}

/********** NEED TO FINISH ERROR MESSAGE FOR NUMBER OF PEOPLE *********/

/*This section adjusts the divs and content affecting the right side or 'inner-content2' */
.results {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 400px;
    height: 250px;
    
    padding-top: 40px;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    height: 75px;
    
    padding: 0 30px 0 30px;

}

/*this creates and adjust the button */

.reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    padding-bottom: 30px;
}

button {
    height: 45px;
    width: 340px;
    color: hsla(183, 100%, 15%, 1);
    font-size: 18px;
    background-color: hsla(172, 67%, 45%, 1);
    border-radius: 4px;
    transition: .1s;
    border: none;
}

span {
    font-size: 17px;
}
.person {
    font-size: 15px;
    color: hsla(173, 60%, 77%, 1);
}

button:hover {
    background-color: hsla(173, 60%, 77%, 1);
    cursor: pointer;
}

output {
    color: hsla(172, 67%, 45%, 1);
    font-size: 45px;
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 0;
}
