/* changes margin and padding for the entire document to zero */
* {
    font-family: 'Space Mono', monospace, Arial;
    font-weight: 700;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 180%;
}

body {
    background-color: hsla(185, 41%, 84%, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* adjusts positioning of 'splitter' svg */
.logo-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    
}

/* Creates the outer-most container for the inner content */
.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* creates a shadow, adjusts edges of the outer-most container,
 and creates/centers the inner-containers */
.container {
    display: flex;
    align-items: center;
    background: white;
    height: 470px;
    width: 900px;
    border-radius: 25px;
    box-shadow: 0px 8px 15px 0px rgb(196 206 221);
    
}

/* creates two containers inside of box 'content' */
.inner-container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    width: 100%;
    
}

.inner-container2 {
    background: hsla(183, 100%, 15%, 1);
    height: 415px;
    width: 400px;
    border-radius: 20px;

}

/* creates the containers for the forms/content to fit in*/
.inMost {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 300px;

}

/* this removes the arrows from type 'number' inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  
}

/* this section formats the forms/list-content (using flex box) to 
the correct attributes, and also adjusts additional content/details */

ul {
    list-style-type: none;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#customPerc {
    text-align: right;
    height: 45px;
    width: 90px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: hsla(203, 50%, 97%, 1);
}

#num {
    text-align: right;
    height: 45px;
    width: 300px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: hsla(203, 50%, 97%, 1);
    
}

/* Adjusts positioning of logo manually (also adjusts the custom-tip box) */
.logo {
    position: relative;

}

.logo img{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 13px;
    padding-top: 3px;
}

.custom-tip{
    position:absolute;

}


label {
    color: hsla(18, 6%, 43%, 1);
    font-size: 16px;
}

input {
    font-size: 18px;

}

.percent {
    background: hsla(183, 100%, 15%, 1);
    height: 45px;
    width: 90px;
    border-radius: 4px;
    color: white;
    font-size: 24px;
    text-align: center;

}


